<html>
  <body>
    <div class="lastpic"></div>
    <div class="alignbox">
    <div class="boxes">
      <div class="boxtext">
        WEEKLY <br>
        Amount:$149.99
      </div>
      <button class="buybutton">BUY NOW</button>
    </div>
    <div class="boxes">
      <div class="boxtext">
        MONTHLY<br>
        Amount:$349.99
      </div>
      <button class="buybutton">BUY NOW</button>
    </div>
    <div class="boxes">
      <div class="boxtext">
        QUARTERLY <br>
        Amount:$649.99
      </div>
      <button class="buybutton">BUY NOW</button>
    </div>
  </div>
  </body>
</html>